[Unit]
Description=TrigaMirror is a software for GNU operating system to get flux data from TrigaServer and share in network.
After=network.target

[Service]
EnvironmentFile=/etc/trigamirror/trigamirror-%i.conf
ExecStart=${CMAKE_INSTALL_BIN}/usr/local/bin/trigamirror "$KIND $SERVER_IP $SERVER_PORT $READ_TAX $MIRROR_PORT $LOG_FOLDER $KEY_PATH"
Restart=always
User=trigauser

[Install]
WantedBy=multi-user.target
